*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}




a {
    text-decoration: none;
    color: grey;
}

a:active {
    position: relative;
    top: 1.5px;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    opacity: 0.5;
    margin: auto;
}


figure {
    margin: 0;
    padding: 0;
}





a.button {
    color: rgba(0, 0, 0, 0.5);
    background-color: #f7f7f7;
    padding: 6px 12px;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;
    font-size: 0.8em;
    letter-spacing: 0.8px;

}

.button:active {
    position: absolute;
    top: 18px;
}





header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}



.site-title {
    margin: 0;
    margin-top: 110px;
    font-size: 2.4em;
    font-family: 'Spectral SC', serif;
    line-height: 0.9;
    font-weight: normal;
    color: #331614;
}

@media screen and (min-width: 1200px) {
    .site-title {
        font-size: 70px;
    }
}


.description {
    display: block;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    color: darkgray;
    text-align: right;
    letter-spacing: 2px;

}

#header-image {
    display: none;
    width: 536px;
    height: 200px;
    background-image: url("images/headerCol.jpg");
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

#header-image img {
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 580px) {
    #header-image {
        width: 300px;
        height: 120px;
    }
}

.page-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    position: fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.page-nav div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    height: 100%;
    padding: 0 12px;
    color: grey;
}

#home-link {
    padding: 0;
    width: 50px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

#home-link a {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

#prev-link {
    border-left: 1px solid lightgrey;
}

#next-link {
    border-right: 1px solid lightgrey;
}


.page-nav a {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    padding: 0 8px;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

@media screen and (max-width: 500px) {
    .page-nav a {
        font-size: 0.8em;
        ;
    }
}

.page-nav div:hover {
    background-color: rgba(38, 16, 8, 0.02);
    color: black;
}

.page-nav div:hover > a {
    color: black;
}




main {
    padding: 100px 20px 100px 20px;
}

.main-index {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;


    max-width: 690px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}



.main-index a {
    font-family: 'Quicksand', sans-serif;
    min-width: 80px;
    height: 80px;
    padding: 24px;
    margin: 14px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-grow: 1;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: grey;
    border: 0.6px solid lightgrey;
}

.main-index a:hover {
    color: #DD70AD;
    border-color: #DD70AD;
}

}

@media screen and (max-width: 700px) {
    #about {
        width: 200px;
    }
}

.small {
    font-size: 0.95em;
}



div.blocks {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;

    max-width: 750px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
}


.blocks a {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    flex-grow: 1;
    letter-spacing: 1px;
    color: grey;
    line-height: 2.6em;
    border: 0.6px solid lightgrey;
    margin: 8px;

}

.blocks a:hover {
    border-color: #DD70AD;
    color: #DD70AD;
}



h1 {
    font-family: 'Spectral SC', serif;
    font-size: 2.6em;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    cursor: default;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
}

h2 {
    font-family: 'Lora', serif;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 1px;
    padding: 25px;
}

p {
    margin: 12px;
}


.centred {
    text-align: center;
}

.meemlink {
    width: 36px;
    height: auto;
    display: block;
    margin: auto;
}

.strip {
    max-width: 700px;
    margin: auto;
}



.spread {
    max-width: 1800px;
    margin: auto;
}

.page {
    width: 75%;
    max-width: 960px;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .page {
        width: 100%;
    }
}

.page img,
.spread img,
.strip img {
    width: 100%;
    margin-bottom: 26vh;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.15);
}



.gallery {
    width: 90%;
    padding: 100px 0;
    margin: auto;
}

.gutter-sizer {
    width: 2.5vmax;
}

.gallery-item {
    width: 31%;
    float: left;
    overflow: hidden;
    margin-bottom: 2.5vmax;
}

@media screen and (min-width: 561px) and (max-width: 1080px) {
    .gallery-item {
        width: 46%;
    }
}

@media screen and (max-width: 560px) {
    .gallery-item {
        width: 100%;
    }
}


.date {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.3s;
}

.gallery-item:hover > .date {
    opacity: 1;
}

div.mfp-container {
    cursor: pointer;
}

.mfp-bottom-bar {
    margin: 0;
}

div.mfp-title {
    text-align: center;
    padding: 0px;
    padding-top: 16px;
    padding-bottom: 80px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}


.text,
.text-narrow,
.text-wide {
    margin: auto;
}

.text {
    max-width: 650px;
}

.text img {
    margin: 10px auto;
}

.text-narrow {
    max-width: 550px;
}

.text-wide {
    max-width: 700px;
}

@media screen and (max-width: 800px) {

    .text,
    .text-wide,
    .text-narrow {
        padding: 7%;
    }
}

.photoset {
    columns: 200px 2;
    column-gap: 0;
}

.photoset a:active {
    position: initial;
}

#creation-menu {
    display: flex;
    width: 84%;
    max-width: 1000px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: auto;

}

#creation-menu a {
    font-size: 1.1em;
    padding: 10px 18px;
    margin: 10px;
    border: solid 1px lightgray;
    border-radius: 10px;

}

#creation-menu a:hover {
    color: black;
    border: solid 1px grey;
}



hr.grey {
    opacity: 0.15;
    width: 69%;
    max-width: 700px;
    margin: 80px auto;
}


#formaction {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

#formaction input[type="email"] {
    margin: 10px 0;
    width: 100%;
    padding: 6px 10px;
}


textarea {
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    max-width: 600px;
    border-collapse: :silver;
    padding: 6px 10px;
    resize: none;
    overflow-y: auto;
}



input[type="submit"] {
    display: inline-block;
    font-size: 0.8em;
    letter-spacing: 1.5;
    font-family: "Open Sans", sans-serif;
    border-radius: 6px;
    padding: 6px 8px;
    margin: 10px;

}

support {
    display: inline-block;
    margin: auto;

}


.pink {
    color: #f26d88;
}


footer p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: lightgrey;
    padding: 10px 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    cursor: default;
}


.guest-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-nav {

    text-align: center;
    cursor: pointer;
}

.gallery-nav a {
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05)
}

video {
    width: 100% !important;
    height: auto !important;
}

.dorimevid {
    width: 90%;
    max-width: 430px;
    margin: auto;
    margin-bottom: 30vh;
}
